@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
}

#__next {
  display: flex;
  flex-direction: column;
}

.bg-homepage {
  background-size: cover;
  background-position: right 100% bottom 45%;
  width: 100%;
}

@media (max-width: 800px) {
  .container {
    background-color: white;
    opacity: 100%;
    padding: 20px;
    border-radius: 20px;
    border: solid rgb(72, 141, 72);
  }
}