@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
}

#__next {
  display: flex;
  flex-direction: column;

}

body {
  background-image: url('https://i.imgur.com/YRrcv1H.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
